{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block text %}
    <div class="container-fluid mt-5">
        <div class="row text-center">
            <h1>Het geheime dierenrijk</h1>
            <p class="mt-3">Wij zijn Pleun, Sanne en Harun.<br>Dit is onze website waar wij ons geheime dierenrijk laten zien.</p>
        </div>
    </div>
{% endblock %}
